<md-content layout-padding layout-wrap>
    <div layout="row" layout-sm="column" flex>
        <md-card>
            <md-button hover-white-frame-on-mouse-over class="md-mini" flex="33" flex-lg="50" flex-sm="100" href="http://google.com" ng-disabled="true|false" aria-label="description" md-no-ink="true|false" md-ripple-size="full|partial|auto">
                <img class="md-card-image" src="images/hask.png" alt="image caption">
                <md-card-content>
                    <h2>Learning: Haskell</h2>
                    <p>Card content</p>
                </md-card-content>
            </md-button>
        </md-card>
        <md-button class="md-raised|md-fab|md-mini" flex="33" flex-lg="50" flex-sm="100" href="http://google.com" ng-disabled="true|false" aria-label="description" md-no-ink="true|false" md-ripple-size="full|partial|auto">
            <md-card>
                <img class="md-card-image" src="images/hask.png" alt="image caption">
                <md-card-content>
                    <h2>Learning: Haskell</h2>
                    <p>Card content</p>
                </md-card-content>
            </md-card>
        </md-button>
    </div>
</md-content>
