<div ng-controller="ContactCntrl" ng-cloak>
  <md-content  class="md-padding">
    <md-card>
      <md-card-content class="md-whiteframe-12dp">
        <h2 class="md-title">
          Looking forward to hearing from you!
        </h2>
        <p>
          <md-list>
            <md-list-item>
              <md-button ng-href="https://www.linkedin.com/in/mostafaelkaterji">
                  <ng-md-icon icon="linkedin-box" style="fill:black"size="30"></ng-md-icon>
              </md-button>
            </md-list-item>
            <md-list-item>
              <md-button href="mailto:mostafakaterji@gmail.com">
                <ng-md-icon icon="email" style="fill:black"size="30"></ng-md-icon>
                mostafakaterji@gmail.com
              </md-button>
            </md-list-item>
          </md-list>
        </p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
